body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(pune1.jpg);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #ffffff;
}

section {
    background-color: #fff;
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

address {
    font-style: normal;
}

form {
    text-align: left;
}

label {
    font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}

button {
    background-color: #116805;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #033516;
}
